#my-nav {
    background-color: #10254D !important;
}

.nav-link {
    color: #fff !important;
}

a:hover {
    color: rgb(167, 215, 255) !important;
}

/* active navigation link */
.active {
    color: #FFD931 !important;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#hello-world {
    font-family: 'Anonymous Pro', monospace;
    font-size: 60px;
    margin: 50px 0px 50px 0px;
}

#intro {
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    font-size: 30px;
    text-align: center;
}

button {
    position: relative;
    border: none;
}

.cta-btn {
    width: 50%;
    height: 50px;
    background-color: #FFED9F;
    color: #10254D;
}

.center {
    text-align: center;
}

.social-box {
    background-color: #FFED9F;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    text-align: center;
    display: inline-block;
    margin-right: 1em;
}

.social-box a {
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.centered {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0px;
}
